:root {
  --vp-c-brand-1: #c72730;
  --vp-c-brand-2: #a01f27;
  --vp-c-brand-3: #c63b42;
  --vp-c-brand-soft: rgba(199, 39, 48, 0.14);
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
          120deg,
          #c72730 30%,
          #e0555c 70%
  );
  --vp-home-hero-image-background-image: linear-gradient(
          -45deg,
          #c72730 50%,
          #e0555c 50%
  );
  --vp-home-hero-image-filter: blur(44px);
}

.dark {
  --vp-c-brand-1: #e0555c;
  --vp-c-brand-2: #c72730;
  --vp-c-brand-3: #a01f27;
}
